
// Estilos para el menú de navegación
.menu {
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 10000px;
    margin: auto;
  
    li {
      display: inline-block;
      text-align: center;
  
      a {
        text-decoration: none;
        color: white;
        padding: 20px;
        display: block;
  
        &:hover {
          background: #ef8354;
        }
      }
    }
  }
  
  // Estilos para el botón de contacto
  .boton-estilo {
    height: 70px;
  }
  